<div class="content-box">
  <div class="row justify-content-center">
    <div class="col col-auto mt-5" *ngIf="loading">
      <mat-progress-spinner
        class="example-margin"
        color="primary"
        mode="indeterminate"
      >
      </mat-progress-spinner>
    </div>
    <div class="col-12" *ngIf="!loading">
      <h2 class="mb-5 text-center">Currency converter</h2>
        <div class="row justify-content-center mb-3">
            <div class="col-12 mb-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Amount</mat-label>
                  <input matInput placeholder="Amount" type="number" [formControl]="amountControl" />
                </mat-form-field>
            </div>
            <div class="col-5">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Base Currency</mat-label>
                  <input
                    type="text"
                    placeholder="Pick a currency"
                    aria-label="Number"
                    matInput
                    [formControl]="baseSymbolControl"
                    [matAutocomplete]="auto"
                    (focusout)="confirmCurrencyExists(baseSymbolControl)"
                  />
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option
                    *ngFor="let option of filteredBaseSymbols | async"
                    [value]="option?.symbol"
                    >
                    <img class="option-img" aria-hidden [src]="'assets/countries/svg/'+getImage(option.symbol)+'.svg'" height="25">
                    {{ option?.symbol }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-2 text-center p-0">
              <button mat-fab color="primary" [disabled]="!(amountControl?.valid && baseSymbolControl?.valid && conversionSymbolControl?.valid)"
              (click)="swapConversionCurrency()">
                <mat-icon>swap_horiz</mat-icon>
              </button>
          </div>
            <div class="col-5">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Conversion Currency</mat-label>
                  <input
                    type="text"
                    placeholder="Pick a currency"
                    aria-label="Number"
                    matInput
                    [formControl]="conversionSymbolControl"
                    [matAutocomplete]="autoConvert"
                    (focusout)="confirmCurrencyExists(conversionSymbolControl)"
                  />
                  <mat-autocomplete #autoConvert="matAutocomplete">
                    <mat-option
                      *ngFor="let option of filteredConversionSymbols | async"
                      [value]="option?.symbol"
                    >
                    <img class="option-img" aria-hidden [src]="'assets/countries/svg/'+getImage(option.symbol)+'.svg'" height="25">
                      {{ option?.symbol }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
            </div>
           
            <div class="col-auto mt-4">
                <button mat-raised-button color="primary" [disabled]="!(amountControl?.valid && baseSymbolControl?.valid && conversionSymbolControl?.valid)"
                (click)="convert()">
                  <mat-icon>currency_exchange</mat-icon> CONVERT
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12" *ngIf="conversionResults && !loading">
                <div class="alert alert-info" role="alert">
                    <h2 class="alert-heading mb-1">Results:</h2>
                    <h3 class="mb-0">{{ conversionResults?.query?.amount | currency: conversionResults?.query?.from }} = {{ conversionResults?.result | currency: conversionResults?.query?.to }}</h3>
                    <hr>
                    <h3 class="mb-0">{{ 1 | currency: conversionResults?.query?.from }} = {{ conversionResults?.info?.rate | currency: conversionResults?.query?.to }}</h3>
                  </div>
            </div>
        </div>
    </div>
  </div>
</div>
