body{
  background: #f0f3f7;
}
.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.heading {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.content-box {
  padding: 50px;
  max-width: 500px;
  width: 100%;
  border-top: 10px solid #673ab7;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.option-img {
  width: 40px;
  height: 25px;
  border: 1px solid #f0f3f7;
}

@media(max-width: 450px) {
  .custom-container {
    width: 100%;
    height: auto;
  }
  .content-box{
    padding: 15px;
  }
  .heading {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #673ab7;
    margin-bottom: 0 !important;
}
}